*
{
    padding:0;
    margin:0;
}
body
{
    background-image:url(phone.jpg);
    background-size:cover;
    box-sizing:border-box;
}
#head
{
    display:block;
    padding-left: 690px;
    font-size: xx-large;
    color:white;
    margin-top:50px;
}
.checkadmin
{
    display:block;
    padding:10px;
    margin-left:670px;
    margin-bottom: 10px;
}
input
{
   margin-left:0px;
   margin-bottom: 10px;
   display:block;
   padding:10px;
}
input[text=submit]
{
    margin-left: 20;
}